@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Raleway:wght@100;300;400;500;600;700&display=swap');

:root {
  --bg:#161D31;
  --primary: #283046;
  --border:#4e5669;
  
  --text-light: #C9CBD0;
  --text-deep: #3E4557;
  --text-blue:#46468B;

  --ff-montserrat: 'Montserrat';
  --ff-opensans: 'Open Sans';
  --ff-raleway: 'Raleway';
}



.container{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:var(--bg);
  height:100vh;
  font-family: var(--ff-opensans);
  color: var(--text-light)
}

.app{
  display:flex;
  background-color:var(--primary);
  height:90vh;
  width:960px;
  border-radius:5px;
  overflow:hidden;
  border:1px solid var(--border);
}

.sidebar{
  width:365px;
  height:100%;
  background-color: var(--primary);
  border-right:1px solid var(--border);
}
.content{
  width:calc(100% - 300px);
  background-color:var(--text-blue);
  height:100%;
}

.sidebar-nav{
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom:1px solid var(--border);
}

.avatar{
  width:40px;
  height:40px;
  border-radius:50%;
  border: 2px solid var(--border);
  
  position: relative;
}

.online::after{
  content:'';
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:red;position:absolute;
  bottom:0;right:0;
}
.avatar img{
  width:100%;
  height:100%;
  border-radius:50%;
}

.search{
  width:calc(100% - 54px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-group {
  margin: 0 5px;
  width: calc(100% - 10px);
}

.icon {
  position: absolute;
  padding: 10px 0;
  color: green;
  min-width: 50px;
  text-align: center;
}

.input-field {
  box-shadow: none;
  width: calc(100% - 50px);
  padding: 10px;
  padding-left: 40px;
  border-radius: 20px;
  outline: none;
  border: 1px solid var(--border);
  background-color: var(--primary);
  color: #00b3bd;
}


/* sidebar-content */
.sidebar-content{
  margin: 0;
  padding: 0;
  height: calc(100% - 65px);
  overflow-y: hidden;
  transition: all 0.5s ease
}
.sidebar-title{
  margin: 10px;
  color: var(--text-blue)
}
.chat-single{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.chat-info{
  width:calc(100% - 55px);
  display: flex;
  flex-direction: column;
  color: #ddd;
}

.chat-info h3{
  font-family: var(--ff-montserrat);
  font-weight: 400;
  margin: 0;
  font-size:16px;
}

.chat-info p{
  margin: 0;
  font-size:16px;
  color: rgb(124, 116, 165);
}

.chat-single:hover{
  background-color:rgb(40, 31, 78);
}


/* scrollbar design */
.sidebar-content::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: var(--primary)
}

.sidebar-content::-webkit-scrollbar
{
  width: 5px;
  background-color: var(--primary)
}

.sidebar-content::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #17183b;
  
}

.sidebar-content:hover{
  overflow-y: scroll;
}


/* chat content */
.content{
  position: relative;
}
.chat-start{
  height:100%;
  width:100%;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.658)), url('./assets/images/chat-bg.svg');
  background-size:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-icon{
  background-color: var(--primary);
  width:70px;
  height:70px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:25px;
}
.chat-start p{
  background-color: var(--primary);
  padding: 3px 15px;
  border-radius: 20px;
}


/*  */

.chat-nav{
  display: flex;
  height: 65px;
  align-items: center;
  padding: 0 20px;
  border-bottom:1px solid var(--border);
  background-color: var(--primary);
}

.user-info{
  margin-left: 20px;
}

.user-info p{
  margin: 0;
}

.user-info small{
  color: rgb(218, 69, 69);
}

/*  */


.chat-body{
  width: 100%;
  height: calc(100% - 130px);
  overflow-y: scroll;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.658)), url('./assets/images/chat-bg.svg');
  background-size:200px;
  display: flex;
  flex-direction: column;
}

.message-container{
  display: flex;
  padding:20px;
  flex-direction: column;
}

.message-container{
  display: flex;
  padding:20px;
  flex-direction: column;
}

.messages{
  display: flex;
}

.message-right{
  justify-content: flex-end;
}






.messages p{
  display:table;
  margin: 0;
  background: var(--primary);
  margin-bottom: 10px;
  padding:5px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  max-width: 60%;
}

.message-right p{
  background:linear-gradient(115deg, rgb(121, 109, 185), #463bbd);
  border-radius: 10px;
  border-bottom-right-radius: 0;
}



/*  */
.chat-footer{
  display: flex;
  height: 65px;
  align-items: center;
  padding: 0 20px;
  background-color: var(--primary);
  width: calc(100% - 40px);
  position:absolute;
  bottom: 0;
}

.chat-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chat-form input[type="text"]{
  width: calc(100% - 140px);
  background-color:transparent;
  padding:10px;
  border:1px solid var(--border);
  outline: none;
  border-radius:5px;
}

.chat-form button[type="submit"]{
  width: 100px;
  background:linear-gradient(115deg, rgb(121, 109, 185), #463bbd);
  padding:10px;
  border:1px solid var(--border);
  outline: none;
  color:#fff;
  border: 1px solid var(--border);
  border-radius:5px;
}



/* scrollbar design */
.chat-body::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: transparent;
}

.chat-body::-webkit-scrollbar
{
  width: 5px;
  background-color: transparent;
}

.chat-body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.836);
  
}









.signin-btn{
  background-color: red;
  color: #fff;
  padding:5px 10px;
  border: 1px solid var(--border);
  border-radius: 5px;

}

.preloader{
  display: flex;
  justify-content:center;
  align-items:center;
  width:100%;
}

.preloader i{
  color: #ecfd00;
}



/* profile */

.close-button{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.profile-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 56px);
}

.profile-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-details .avatar{
  width:100px;
  height:100px;
}

.profile-name{
  font-size: 25px;
  margin: 0;
  margin-top: 30px;
}

.profile-mail{
  margin: 0;
  margin-top: 7px;
  color: #7175a9;
}

.profile-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
}

.btn-signout{
  background-color: #161D31;
  color: #fff;
  padding:10px 30px;
  border: 1px solid var(--border);
  transition: all .3s linear;
  border-radius: 5px;
}
.btn-signout:hover{
  background-color: #fd0303;
  color: #fff;
}






/* signup */

.form-signup{
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
  padding:10px 0;
  border-radius: 5px;
  border: 1px solid var(--border)
}

.d-flex{
  display: flex;
  width: 100%;
  justify-content: space-around;  
}
.flex-column{
  flex-direction: column;
}
.input-primary{
  width: 100%;
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid var(--border);
  background-color: transparent;
  border-radius:5px;
  color: var(--text-light);
}


.button-primary, .button-secondary {
  width: 100px;
  background:linear-gradient(115deg, rgb(121, 109, 185), #463bbd);
  padding:10px;
  border:1px solid var(--border);
  outline: none;
  color:#fff;
  border: 1px solid var(--border);
  border-radius:5px;
}

.button-secondary {
  background:transparent;
  color:#fff;
}

.mt-20{
  margin-top:20px;
}

.form-footer{
  margin:20px;
}

/* custom-file-group */

.custom-file-group{
  position:relative;
}
.custom-file-upload{
  position: absolute;
    background-color: var(--primary);
    top: 11px;
    left: 21px;
    padding: 10px;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid var(--border);
}

#file-upload{
  padding-left: 20px;
}


.input-error{
  color: rgb(172, 115, 115);
  width: calc(100% - 40px);
}